
main {
    background-color: #001219;
}

.row {
    display: flex;
}

.container {
    background-color: #0A9396;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 220px;
    margin: 20px;
}

.circle {
    background-color: #E9D8A6;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 10px;
}

