
main {
    background-color: #9B2226;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   max-inline-size: 1200px;
   padding: 50px;
}

.container {
    background-color: #0A9396;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 220px;
    margin: 20px;
}

.circle {
    background-color: #E9D8A6;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 10px;
}

.one {
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #0A9396;
}

.two {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-content: flex-start;
    background-color: #CA6702;
}

.three {
    justify-content: space-between;
    align-content:space-between;
    background-color: #0A9396;
}

.four {
    justify-content: space-between;
    align-content: space-around;
    background-color: #CA6702;
}

.five {
    justify-content: center;
    align-content: center;
    background-color: #0A9396;
}